# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test
retrotxt
retrotxt.exe
retrotxtgo
retrotxtgo.exe

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# GoReleaser
/.dist
/dist

# Editor
log.txt

# macOS
.DS_Store
# Added by goreleaser init:
dist/
