<!DOCTYPE html>
<!-- https://curtisvermeeren.github.io/2017/09/14/Golang-Templates-Cheatsheet -->
<html lang="en">
  <head>
    <meta charset="utf-8" />
    {{- if .PageTitle}}
    <title>{{.PageTitle}}</title>
    {{- end}} {{if .MetaDesc}}
    <meta name="description" content="{{.MetaDesc}}" />
    {{- end}} {{if .MetaAuthor}}
    <meta name="author" content="{{.MetaAuthor}}" />
    {{- end}} {{if .MetaKeywords}}
    <meta name="keywords" content="{{.MetaKeywords}}" />
    {{- end}} {{if .MetaReferrer}}
    <meta name="referrer" content="{{.MetaReferrer}}" />
    {{- end}} {{if .MetaRobots}}
    <meta name="robots" content="{{.MetaRobots}}" />
    {{- end}} {{if .MetaThemeColor}}
    <meta name="theme-color" content="{{.MetaThemeColor}}" />
    {{- end}} {{if .MetaColorScheme}}
    <meta name="color-scheme" content="{{.MetaColorScheme}}" />
    {{- end}} {{if .MetaNoTranslate}}
    <meta name="google" content="notranslate" />
    {{- end}} {{if .Comment}}
    <meta name="retrotxt" content="{{.Comment}}" />
    {{- end}} {{if .SauceTitle}}
    <meta name="sauce-title" content="{{.SauceTitle}}" />
    {{- end}} {{if .SauceAuthor}}
    <meta name="sauce-author" content="{{.SauceAuthor}}" />
    {{- end}} {{if .SauceGroup}}
    <meta name="sauce-group" content="{{.SauceGroup}}" />
    {{- end}} {{if .SauceDescription}}
    <meta name="sauce-description" content="{{.SauceDescription}}" />
    {{- end}} {{if .SauceWidth}}
    <meta name="sauce-dimension" content="{{.SauceWidth}}x{{.SauceLines}}" />
    {{- end}} {{if .MetaGenerator}}
    <meta
      name="generator"
      content="{{.BuildName}} v{{.BuildVersion}}; {{.BuildDate}}"
    />
    {{- end}} {{if .ExternalEmbed}}
    <style type="text/css">{{.CSSEmbed}}</style>
    <script defer>{{.ScriptEmbed}}</script>
    {{- else}}
    <link rel="stylesheet" href="styles.css{{.CacheRefresh}}" />
    <link rel="stylesheet" href="font.css{{.CacheRefresh}}" />
    <script src="scripts.js{{.CacheRefresh}}" defer></script>
    {{- end }}
  </head>

  {{if .MetaNoTranslate}}<body class="notranslate">{{else}}<body>{{- end}}
    <main>
      <pre>{{.PreText}}</pre>
    </main>
  </body>
</html>
